[Unit]
Description=GLaDOS Checkin Service

[Service]
ExecStart=/usr/local/bin/gc -f /etc/gc/user.yaml
Environment="LANG=en_US.UTF-8"
Environment="TZ=Asia/Shanghai"
[Install]
WantedBy=multi-user.target